*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/gradle.properties
/app/src/main/java/com/helloarron/touchmath/ATKCertificate.java
/app/libs/
/app/src/main/assets/
